body {
font family: Times New Roman;
margin: 0;
padding: 0;
}

header, footer {
  text align: center;
  background-color: #7986CB;
  color: #fff;
  padding:1em;
}

main{
padding: 1em;
}

body h1, h2{
color: #333;
}
